.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 0.8s ease-in-out;
}

.ex-1-square:hover{
    background-color:red ;
}
/* --------------------------------------------------------------------- */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s ease;
}

.ex-2-square:active{
    width: 100%;
}
/* --------------------------------------------------------------------- */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius .3s ease-in;
}

.ex-3-square:hover{
    border-radius: 50%;
}
/* --------------------------------------------------------------------- */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s ease-in-out;
}

.ex-4-square:hover{
    background-color: rgba(255, 0, 0, 0);
}
/* --------------------------------------------------------------------- */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 1s ease;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}
/* --------------------------------------------------------------------- */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    transition: filter 2.5s;
}

.ex-7-img:hover{
    filter: sepia(70%);
}

.ex-8-img{
    transition: all 2s;
}

.ex-8-img:hover{
    filter: sepia(65%);
    border-radius: 20px;
}
/* --------------------------------------------------------------------- */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s ease;
}

.ex-9-img:hover{
    border-radius: 20px;
    filter: sepia(70%);
    transform: scale(1.5);
}
/* --------------------------------------------------------------------- */

.ex-10-icon {
    font-size: 60px;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
}
}
/* --------------------------------------------------------------------- */

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: rewind 2s ease-in-out;
}

@keyframes rewind {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}
/* --------------------------------------------------------------------- */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
/* --------------------------------------------------------------------- */

.ex-12-button:hover .ex-12-top-white {
    animation: top-left 2s linear;
}
@keyframes top-left {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bot-right 2s linear;
}
@keyframes bot-right {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}
/* --------------------------------------------------------------------- */

.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 2s infinite;
}
@keyframes moveTopWhiteCompletely {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomWhiteCompletely 2s infinite;
}
@keyframes moveBottomWhiteCompletely {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
